.clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: $iconCurrentColor;
  border: 1px solid $iconCurrentColor;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}

.clients__icon {
  fill: currentColor;
  background-size: contain;
}
