.clients {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  // max-width: 450px;

  // @include media(not-desktop) {
  //   flex-wrap: wrap;
  // }
}

.clients__item {
  &:nth-child(even) {
    margin-right: -30px;
  }

  margin-bottom: 30px;

  &:nth-child(n + 5) {
    margin-bottom: 0;
  }
  @include media(mobile-only) {
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @include media(tablet-only) {
    &:nth-child(n + 4) {
      margin-bottom: 0px;
    }

    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }

  @include media(desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  color: $iconCurrentColor;
  border: 1px solid $iconCurrentColor;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }

  @include media(tablet) {
    width: 226px;
  }

  @include media(desktop) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
  background-size: contain;
}
