.header {
  border-bottom: 1px solid $headerBorderColor;
}

.header-box {
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    justify-content: space-between;
  }
}

.menu-icon-box {
  @media not screen and (min-width: 480px) {
    fill: $blackColor;
    width: 24px;
    height: 16px;
    padding: 12px 8px;

    &:hover,
    &:focus {
      fill: $accentColor;
    }
  }
}

.header-contact {
  display: flex;
  align-items: baseline;
  margin-left: auto;

  @media screen and (max-width: 479px) {
    display: none;
  }
}

.header__list-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact__icon-envelope {
  display: inline-block;
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
}

.header-contact__icon-phone {
  display: inline-block;
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-contact__link {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 50px;
    margin-left: 330px;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
